:root {
  --background-image: url("https://res.cloudinary.com/pillario/image/upload/c_thumb,g_custom,w_1920,h_1080/page-background/1a8afd21-5e4c-41e3-a84e-390a2f4fba69?_reload=d4cecf90-5981-11ed-af5a-df2fdc72ed2d");
  --background-color: #FFF;
}

.page-wrapper img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.page-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 200px;
}

@keyframes animation {
  0%   {transform: scale(1.2);}
  100%   {transform: scale(1);}
}
.page-main--btn {
  animation: animation 2s linear 2s infinite alternate;
}

.page {
  width: 100%;
  height: 100%;
  text-align: center;
}

.page-wrapper p {
  color: white !important;
}

.page-wrapper .page-header__name {
  font-size: 1rem;
  font-weight: bold;
}

.page-wrapper .page-header__name::after {

}

.page-ninja {
  background: var(--background-color) var(--background-image) no-repeat;
  background-position: top;
  background-size: cover;
}

.page-wrapper {
  max-width: 600px;
  margin: auto;
}
